/* rules used (or usable) in different parts of the page */

  /* to center a box both vertically and horizontally in its parent */
  .absolute-centering {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .position-relative {
    position: relative;
  }
/* /rules used (or usable) in different parts of the page */

/* rules used in specific parts of the page */
.navbar > .container {
  height: 70px;
}

.navbar > .container > .navbar-brand {
  line-height: 70px;
}

.navbar > .container {
  padding: 2%;
}
/* /rules used in specific parts of the page */

/* rules for specific width ranges */

/* /rules for specific width ranges */
